.reptilecard{
  background-color: #A68A64;
  border-style: solid;
  border-width: 7px;
  border-color: #7F4F24;
  margin:50px;
  padding:50px;
  text-align:center;
  
}
.App{
  background-color: #B6AD90;
  text-align:center;
}
.img{
  border-radius: 15px;
}
.regionbtn{
  background-color: #656D4A;
  border-radius: 15px;
  border-color: #A4AC86;
  font-size: 20px;
  padding-top: 50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.regionbtn:hover{
  background-color: #B6AD90;
}
.reptilecontainer{
  display: flex;
  flex-direction: column;
}
.header{
  font-family: 'Iceberg', cursive;
}
.name{
  font-family: 'Offside', cursive;
}
a{
  font-size: 25px;
  font-family: 'Azeret Mono', monospace;
}